<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHAREdoc - easy to sharing</title>
    <link rel="icon" href="/img/favicon.ico" type="image/ico" sizes="16x16">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Arimo&family=Josefin+Sans&family=Libre+Baskerville&display=swap" rel="stylesheet">
</head>

<body>
    <div class="nav">
        <div class="logo">
            <img src="/img/logo.png" alt="logo" draggable="false">
            <!-- <span class="webname">ToShare</span> -->
        </div>
    </div>

    <div class="main-container">

        <section class="upload-container">
            <div class="drop-zone">
                <div class="icon-container">
                    <img src="/img/sharefile.svg" alt="File-Icon" class="center" draggable="false">
                    <img src="/img/sharefile.svg" alt="File-Icon" class="left" draggable="false">
                    <img src="/img/sharefile.svg" alt="File-Icon" class="right" draggable="false">
                </div>
                <div class="title-container">
                    <input type="file" id="fileInt">
                    <div class="title"> Drop your Files here or, <span class="browseBtn" title="Choose File">browse</span></div>
                </div>
            </div>

            <div class="progress-container">
                <div class="bg-progress"> </div>
                <div class="inner-contsiner mxy">
                    <div class="title ">Uploading...</div>
                    <div class="percent-container "><span id="percent">0</span>%</div>
                    <div class="percent-bar "></div>
                </div>
            </div>

            <div class="sharing-container">
                <p class="expireLink">Link expires in 24 hours</p>
                <div class="input-container">
                    <input type="text" , id="fileURL" readonly>
                    <img src="/img/copyLink.svg" alt="" id="copyImg" title="copy">
                </div>
                <p>Or Send Via Email</p>
                <div class="email-container">
                    <form action="" id="emailForm">
                        <div class="field">
                            <label for="sender">Your email :</label>
                            <input type="email" required name="fromEmail" id="sender">
                        </div>
                        <div class="field">
                            <label for="Receiver">Receiver email :</label>
                            <input type="email" required name="toEmail" id="Receiver">
                        </div>
                        <div class="sendemail">
                            <button type="submit" id="sendEmailBtn">send</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <div class="sideImg">
            <img src="/img/sideImg.svg" alt="" draggable="false">
        </div>

    </div>

    <div id="popUp"></div>

    <script src="../index.js" type='text/javascript'></script>
</body>

</html>